In [37]:
import os
import constants
import pandas as pd

In [50]:
constants.language_code = 'de'

'fr'

In [38]:
filepath = os.path.join(f"../input_files/{constants.language_code}", "uncleaned_sentences.csv")
df = pd.read_csv(filepath, delimiter='\t', header=None)
df.columns = ["id", "sentence"]

C:\Users\Toby Usher\AppData\Local\Temp\ipykernel_7900\3782924952.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, delimiter='\t', header=None)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 850172 entries, 0 to 850171
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        850172 non-null  object
 1   sentence  850172 non-null  object
dtypes: object(2)
memory usage: 13.0+ MB

In [40]:
df.head()

   id                                           sentence
0  id                                           sentence
1   3  La vierge du Seigneur sen alla ensuite termin...
2   4  Présentation de celui-ci à plusieurs écoles pr...
3   5  Car chez le tout-petit, une diarrhée aiguë n'e...
4   6  Le cratère Pwyll est un cratère d'impact situé...

In [41]:
# Let's see if there are any duplicates in the dataset
df[df["sentence"].duplicated(keep=False)].sort_values("sentence").head(8)

Empty DataFrame
Columns: [id, sentence]
Index: []

In [42]:
df.dtypes

id          object
sentence    object
dtype: object

In [43]:
# Remove all duplicates from the dataframe
df = df.drop_duplicates("sentence")

In [44]:
lengths: pd.Series = df['sentence'].str.len()
max_characters: int = lengths.max()
max_index = lengths.idxmax()

# Find the sentence with the most characters to see if there are any delimitation issues.
print(f'Longest sentence: {max_characters} characters')
print(df[df.index == max_index]['sentence'].values[0][:600]) # Print out first 600 characters

Longest sentence: 199 characters
Nous avons donc procédé au calcul du coût social brut des drogues et non au calcul de leur coût social net, qui résulterait de la soustraction de ces effets positifs, par rapport au coût social brut.

In [45]:
# Cut off any sentences longer than 200 or 
# shorter than 30 characters
df = df[
    (df['sentence'].str.len() < 200)
    & (df['sentence'].str.len() > 30)
     ]

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 826973 entries, 1 to 850171
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        826973 non-null  object
 1   sentence  826973 non-null  object
dtypes: object(2)
memory usage: 18.9+ MB

In [47]:
# Randomly sample n rows to get a reduced dataset for easier training while testing out this method. Set a seed for reproducability.
#n_rows = 30000

#reduced_df = df.sample(n=n_rows, random_state=1)

In [49]:
# Remove id column and save dataframes as csv
df.to_csv(f"../output_files/{constants.language_code}/step0_sentences.csv", sep='\t', index=False)
#reduced_df.to_csv("./french_sentences_reduced.csv", sep='\t', index=False)