The best dataset I've found so far contains is tatoeba.

https://tatoeba.org/fr/downloads

Another is conversational sentences from film and series subtitles with translations for multiple languages:

https://opus.nlpl.eu/OpenSubtitles-v2018.php
https://github.com/PolyAI-LDN/conversational-datasets

In [87]:
import os
import constants
import pandas as pd

In [88]:
constants.language_code = 'fr'

In [89]:
#filepath_en = f"../input_files/{constants.language_code}/open_subtitles/OpenSubtitles_en-{constants.language_code}.en"
#filepath_lang = f"../input_files/{constants.language_code}/open_subtitles/OpenSubtitles_en-{constants.language_code}.{constants.language_code}"

filepath = f"../input_files/{constants.language_code}/tatoeba_{constants.language_code}_en.tsv"

df = pd.read_csv(filepath, sep='\\t')
#en_series = pd.read_csv(filepath_en, sep='\\t')
#lang_series = pd.read_csv(filepath_lang, sep='\\t')

C:\Users\Toby Usher\AppData\Local\Temp\ipykernel_19220\63767765.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(filepath, sep='\\t')

In [90]:
df.head()

,1115,"Lorsqu'il a demandé qui avait cassé la fenêtre, tous les garçons ont pris un air innocent.",276353,"When he asked who had broken the window, all the boys put on an air of innocence."
0,1115,Lorsqu'il a demandé qui avait cassé la fenêtre...,2193466,"Then, when he asked who had broken the window,..."
1,1279,Je ne supporte pas ce type.,72044,I can't abide that fellow.
2,1279,Je ne supporte pas ce type.,252648,I can't bear that fellow.
3,1279,Je ne supporte pas ce type.,1103153,I can't stand that guy.
4,1441,Pour une fois dans ma vie je fais un bon geste...,3257,For once in my life I'm doing a good deed... A...

In [91]:
df.count

<bound method DataFrame.count of             1115  \
0           1115
1           1279
2           1279
3           1279
4           1441
...          ...
399791  12433696
399792  12433775
399793  12433792
399794  12433793
399795  12434387

       Lorsqu'il a demandé qui avait cassé la fenêtre, tous les garçons ont pris un air innocent.  \
0       Lorsqu'il a demandé qui avait cassé la fenêtre...
1                             Je ne supporte pas ce type.
2                             Je ne supporte pas ce type.
3                             Je ne supporte pas ce type.
4       Pour une fois dans ma vie je fais un bon geste...
...                                                   ...
399791  Nous allons à l'encontre de la tendance en n'a...
399792  Je me demande comment les différentes factions...
399793  L'Algérie organisa des négociations entre les ...
399794  L'Algérie organisait des négociations entre le...
399795                              Il est un peu dingue.

          276353  \
0        2193466
1          72044
2         252648
3        1103153
4           3257
...          ...
399791  12433695
399792  10336996
399793  10132427
399794  10132427
399795  11488276

       When he asked who had broken the window, all the boys put on an air of innocence.
0       Then, when he asked who had broken the window,...
1                              I can't abide that fellow.
2                               I can't bear that fellow.
3                                 I can't stand that guy.
4       For once in my life I'm doing a good deed... A...
...                                                   ...
399791  We're bucking the trend by not increasing our ...
399792  I wonder how the different political factions ...
399793  Algeria organized negotiations between warring...
399794  Algeria organized negotiations between warring...
399795                              He's a bit of a kook.

[399796 rows x 4 columns]>

In [92]:
# Only keep the sentence and translation columns
df = pd.DataFrame({
    'sentence': df.iloc[:, 1],
    'translated_sentence': df.iloc[:, 3]
})

In [93]:
df.head()

,sentence,translated_sentence
0,Lorsqu'il a demandé qui avait cassé la fenêtre...,"Then, when he asked who had broken the window,..."
1,Je ne supporte pas ce type.,I can't abide that fellow.
2,Je ne supporte pas ce type.,I can't bear that fellow.
3,Je ne supporte pas ce type.,I can't stand that guy.
4,Pour une fois dans ma vie je fais un bon geste...,For once in my life I'm doing a good deed... A...

In [94]:
"""# Combine into a dataframe and randomly sample n rows
n = 3_000_000

lang_series = lang_series.reset_index(drop=True)
en_series = en_series.reset_index(drop=True)

lang_series_list = lang_series.values.tolist()
en_series_list = en_series.values.tolist()

# Flatten the lists
lang_series_list = [item[0] for item in lang_series_list]
en_series_list = [item[0] for item in en_series_list]


df = pd.DataFrame({
    'sentence': lang_series_list,
    'translation': en_series_list
})

# First 100 or so lines are in English for some reason
#df = df[df.index > 100]

df_sample = df.sample(n, random_state=1)
df_sample.to_csv(f'../input_files/{constants.language_code}/open_subtitles_uncleaned_sentences.csv', sep='\t')
"""

"# Combine into a dataframe and randomly sample n rows\nn = 3_000_000\n\nlang_series = lang_series.reset_index(drop=True)\nen_series = en_series.reset_index(drop=True)\n\nlang_series_list = lang_series.values.tolist()\nen_series_list = en_series.values.tolist()\n\n# Flatten the lists\nlang_series_list = [item[0] for item in lang_series_list]\nen_series_list = [item[0] for item in en_series_list]\n\n\ndf = pd.DataFrame({\n    'sentence': lang_series_list,\n    'translation': en_series_list\n})\n\n# First 100 or so lines are in English for some reason\n#df = df[df.index > 100]\n\ndf_sample = df.sample(n, random_state=1)\ndf_sample.to_csv(f'../input_files/{constants.language_code}/open_subtitles_uncleaned_sentences.csv', sep='\t')\n"

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399796 entries, 0 to 399795
Data columns (total 2 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   sentence             399796 non-null  object
 1   translated_sentence  399796 non-null  object
dtypes: object(2)
memory usage: 6.1+ MB

In [96]:
# Let's see if there are any duplicates in the dataset
df[df["sentence"].duplicated(keep=False)].sort_values("sentence").count

<bound method DataFrame.count of                                                  sentence  \
5355    "De quoi le professeur a-t-il parlé ?" demanda...
5356    "De quoi le professeur a-t-il parlé ?" demanda...
20722               "Superman" sort ce mois-ci au cinéma.
20721               "Superman" sort ce mois-ci au cinéma.
289705      "À qui est cette chaise ?" "C'est la mienne".
...                                                   ...
187926                               Ôtez vos vêtements !
116628                               Ôtez votre chapeau !
188793                               Ôtez votre chapeau !
92373       Ôtez votre manteau et faites comme chez vous.
92374       Ôtez votre manteau et faites comme chez vous.

                                      translated_sentence
5355    "What did the professor talk about?" the stude...
5356    "What did the teacher talk about?" asked the s...
20722   "Superman" is showing at the movie theater thi...
20721   "Superman" is showing at the movie theatre thi...
289705                     "Whose chair is this?" "Mine."
...                                                   ...
187926                             Take off your clothes!
116628                                   Remove your hat.
188793                                 Take off your hat.
92373      Take your coat off, and make yourself at home.
92374       Take your coat off and make yourself at home.

[94215 rows x 2 columns]>

In [97]:
df.dtypes

sentence               object
translated_sentence    object
dtype: object

In [98]:
# Remove all duplicates from the dataframe
df = df.drop_duplicates("sentence")

In [81]:
df.info

<bound method DataFrame.info of                                                  sentence  \
0       Lorsqu'il a demandé qui avait cassé la fenêtre...
1                             Je ne supporte pas ce type.
4       Pour une fois dans ma vie je fais un bon geste...
5                  Ne tenez aucun compte de ce qu'il dit.
6                                Essayons quelque chose !
...                                                   ...
399791  Nous allons à l'encontre de la tendance en n'a...
399792  Je me demande comment les différentes factions...
399793  L'Algérie organisa des négociations entre les ...
399794  L'Algérie organisait des négociations entre le...
399795                              Il est un peu dingue.

                                      translated_sentence
0       Then, when he asked who had broken the window,...
1                              I can't abide that fellow.
4       For once in my life I'm doing a good deed... A...
5                  Don't take any notice of what he says.
6                                    Let's try something.
...                                                   ...
399791  We're bucking the trend by not increasing our ...
399792  I wonder how the different political factions ...
399793  Algeria organized negotiations between warring...
399794  Algeria organized negotiations between warring...
399795                              He's a bit of a kook.

[346182 rows x 2 columns]>

In [99]:
lengths: pd.Series = df['sentence'].str.len()
max_characters: int = lengths.max()
max_index = lengths.idxmax()

# Find the sentence with the most characters to see if there are any delimitation issues.
print(f'Longest sentence: {max_characters} characters')
print(df[df.index == max_index]['sentence'].values[0][:600]) # Print out first 600 characters

Longest sentence: 1447 characters
Le repas copieux pris et son cartable fin prêt, Link chercha in extremis du réconfort auprès de ses amis. "Zelda, j'ai besoin de conseils." "Tu n'as quand même pas déjà peur", dit Zelda, renfrognée. "Non. Je veux juste l'avis de quelqu'un qui a déjà été au lycée et tu es la personne la plus intelligente que je connaisse !" Link sourit. Zelda laissa échapper un léger rire. "Merci. Toi alors..." "Les profs sont d'une sévérité à couper le souffle !" interrompit le roi d'un sourire malicieux. "Hein ?!" "Père !" s'exclama la princesse d'un ton réprobateur. "Désolé, poursuis." "Donc, Link-" Cette fo

In [104]:
# Cut off any sentences longer than 200 or 
# shorter than 30 characters
df = df[
    (df['sentence'].str.len() < 200)
    & (df['sentence'].str.len() > (15 if constants.language_code == 'th' else 30)) # setting to 30 cuts out most thai sentences
     ]

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 215109 entries, 0 to 399794
Data columns (total 2 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   sentence             215109 non-null  object
 1   translated_sentence  215109 non-null  object
dtypes: object(2)
memory usage: 4.9+ MB

In [85]:
# Randomly sample n rows to get a reduced dataset for easier training while testing out this method. Set a seed for reproducability.
#n_rows = 30000

#reduced_df = df.sample(n=n_rows, random_state=1)

In [106]:
# Remove id column and save dataframes as csv
df.to_csv(f"../output_files/{constants.language_code}/step0_sentences.csv", sep='\t', index=False)
#reduced_df.to_csv("./french_sentences_reduced.csv", sep='\t', index=False)