In [1]:
import os
import pandas as pd

In [2]:
filepath = os.path.join("./fra_mixed_2009_1M", "fra_mixed_2009_1M-sentences.txt")
df = pd.read_csv(filepath, delimiter='\t', header=None)
df.columns = ["id", "sentence"]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 955721 entries, 0 to 955720
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        955721 non-null  int64
 1   sentence  955721 non-null  object
dtypes: int64(1), object(1)
memory usage: 14.6+ MB

In [4]:
df.head()

   id                                           sentence
0   1  La CGT avait d'ailleurs critiqué l'avis de la ...
1   2  Pour l'adressage rapide et professionnel de vo...
2   3  La vierge du Seigneur s'en alla ensuite termin...
3   4  Présentation de celui-ci à plusieurs écoles pr...
4   5  Car chez le tout-petit, une diarrhée aiguë n'e...

In [5]:
# Let's see if there are any duplicates in the dataset
df[df["sentence"].duplicated(keep=False)].sort_values("sentence").head(8)

            id                                           sentence
362750  379060                         A cela, plusieurs raisons.
720964  754536                         A cela, plusieurs raisons.
760195  795531                                 A une nuance près.
703079  735861                                 A une nuance près.
494127  516960  Aide à l'équipement et à l'animation Montant s...
194270  202592  Aide à l'équipement et à l'animation Montant s...
643516  673373                 C'est avec raison que l'on t'aime.
153502  159947                 C'est avec raison que l'on t'aime.

In [6]:
df.dtypes

id           int64
sentence    object
dtype: object

In [7]:
# Remove all duplicates from the dataframe
df = df.drop_duplicates("sentence")

In [19]:
lengths: pd.Series = df['sentence'].str.len()
max_characters: int = lengths.max()
max_index = lengths.idxmax()

# Find the sentence with the most characters to see if there are any delimitation issues.
print(f'Longest sentence: {max_characters} characters')
print(df[df.index == max_index]['sentence'].values[0][:600]) # Print out first 600 characters

Longest sentence: 13377 characters
Mon ami Kouchner a aussi déclaré que nous allions bientôt attaquer la Moldavie et l'Ukraine et la Crimée (...).
992933	Les tentative d'évasion sont découragées par des barrières types de camp de concentration (comme la sécurité lourde et les barrières électrifiées).
992934	Dans leur efforts pour exterminer ce mouvement naissant, les autorités de la Perse fusillèrent le Báb (1850) et martyrisèrent plus de vingt mille de ses adeptes.
992935	Il y aurait donc là un moyen de bien discriminer entre ville et campagne.
992936	Merci de continuer à nous lire avec attention... et n'hésitez pas à nous fai

For some reason, it seems like some of the rows in the .txt files aren't being parsed properly. Let's fix this.

In [8]:
# Save dataframe as csv
df.to_csv("./french_sentences_cleaned.csv", sep='\t', index=False)